.contact{
    width: 100%;
    height: 90%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    /* border: 2px solid red; */
    background-image: url('../Assests/signup-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.contact .contact-text{
    /* border: 1px solid; */
    width: auto;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent */
}
.contact-type{
    width: 100%;
    height: 56.90%;
    /* border: 2px solid ; */
    /* background-color: rgb(240, 233, 226); */
  

    display: flex;

}
.contact-type-box1{
    width: 49%;
    height: 99%;
    /* border: 1px solid; */
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-type-box1 form{
    width: 100%;
    height: 70%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-type-box1 h3{
    /* border: 1px solid; */
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-type-box1-submit{
    /* border: 1px solid; */
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-type-box1-submit input{
    width: 30%;
    height: 60%;
    border-radius: 10px;
    color: white;
    background-color: rgb(113, 172, 24);
    border: none;
}
.contact-type-box1-submit input:hover{
    background-color:rgb(101, 151, 25); ;
}
.contact-type-box2{
    width: 49%;
    height: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8%;
}
.contact-type-box2-1{
    /* border: 1px solid; */
    width: 70%;
    height: 30%;
}
.contact-type-box2-2{
    /* border: 1px solid; */
    width: 70%;
    height: 30%;
}


.contact-footer{
    width: auto;
    height: 25%;
    background-color: rgb(0, 0, 0);
    color: rgb(174, 160, 160);
    /* color: rgb(224, 209, 209); */
    /* margin: 1% 0% 0%; */
    /* margin-top: 0.5%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.contact-footer-logo1{
    width: 10%;
    height: 90%;
    /* border: 1px solid; */
    /* background-image: url(../Assests/8303673-removebg-preview.png); */
    background-size: cover;
    background-position: center;
}
.contact-footer-info{
    width: 10%;
    height: 90%;
    margin-top: 2%;
    /* border: 1px solid; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */

}
.contact-footer-info div{
    padding-top: 5%;
    cursor: pointer;
    border: 1x solid white;

}
.contact-footer-info-link div a{
    text-decoration: none;
    color: rgb(174, 160, 160);
}
   



