.landing-footer{
    width: auto;
    height: 25%;
    background-color: rgb(0, 0, 0);
    color: rgb(174, 160, 160);
    /* color: rgb(224, 209, 209); */
    /* margin: 1% 0% 0%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.landing-footer-logo1{
    width: 10%;
    height: 90%;
    /* border: 1px solid; */
    /* background-image: url(../Assests/8303673-removebg-preview.png); */
    background-size: cover;
    background-position: center;
}
.landing-footer-info{
    width: 10%;
    height: 90%;
    margin-top: 2%;
    /* border: 1px solid; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */

}
.landing-footer-info div{
    padding-top: 5%;
    cursor: pointer;
    border: 1x solid white;

}
.landing-footer-info-link div a{
    text-decoration: none;
    color: rgb(174, 160, 160);
}
   